<%- contentFor('HeaderCss') %>

<%- contentFor('body') %>


<!-- <body data-layout="horizontal"> -->
<div class="auth-page" style="direction: rtl;">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-xxl-3 col-lg-4 col-md-5">
                <div class="auth-full-page-content d-flex p-sm-5 p-4">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100">
                            <div class="mb-4 mb-md-5 text-center">
                                <a href="/" class="d-block auth-logo">
                                    <img src="/assets/images/logo-sm.png" alt="" height="28"> <span
                                        class="logo-txt">زیستینو</span>
                                </a>
                            </div>
                            <div class="auth-content my-auto" style="direction: ltr;">
                                <div class="text-center">
                                    <h5 class="mb-0">خوش آمدید</h5>
                                    <p class="text-muted mt-2">.برای ورود به پنل ادمین وارد شوید</p>
                                </div>
                                <div id="error" class="alert alert-danger" role="alert" style="display:none; text-align: right;"></div>
                                <form class="mt-4 pt-2 form" method="post">
                                    <div class="form-floating form-floating-custom mb-4">
                                        <input type="text" class="form-control" id="input-username"
                                            placeholder="ایمیل" name='email' value="admin@zistino.ir">
                                        <label for="input-username">ایمیل</label>
                                        <div class="form-floating-icon">
                                            <i data-feather="users"></i>
                                        </div>
                                    </div>

                                    <div class="form-floating form-floating-custom mb-4 auth-pass-inputgroup">
                                        <input type="password" class="form-control pe-5" id="password-input"
                                            placeholder="رمز عبور" name='password' value="12345678">

                                        <button type="button" class="btn btn-link position-absolute h-100 end-0 top-0"
                                            id="password-addon">
                                            <i class="mdi mdi-eye-outline font-size-18 text-muted"></i>
                                        </button>
                                        <label for="input-password">رمز عبور</label>
                                        <div class="form-floating-icon">
                                            <i data-feather="lock"></i>
                                        </div>
                                    </div>

                                    <div class="row mb-4" style="direction: rtl;">
                                        <div class="col">
                                            <div class="form-check font-size-15" style="direction: rtl; right: 0px; text-align: right !important;">
                                                <input class="form-check-input" type="checkbox" id="remember-check" style="right:0px !important; float: right;">
                                                <label class="form-check-label font-size-13" for="remember-check" style="margin-right: 1.35rem;">
                                                    مرا به یاد داشته باش
                                                </label>
                                                
                                            </div>
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">ورود</button>
                                    </div>
                                </form>

                                

                                <!--  <div class="mt-5 text-center">
                                    <p class="text-muted mb-0">فراموشی <a href="forgot-password"
                                            class="text-primary fw-semibold"> رمز عبور</a> </p>
                                </div> -->
                            </div>
                            <div class="mt-4 mt-md-5 text-center">
                                <p class="mb-0"> <script>
                                    </script>تولید شده توسط تیم میلیونر </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end auth full page content -->
            </div>
            <!-- end col -->
            <div class="col-xxl-9 col-lg-8 col-md-7">
                <div class="auth-bg pt-md-5 p-4 d-flex">
                    <div class="bg-overlay"></div>
                    <ul class="bg-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <!-- end bubble effect -->
                    <div class="row justify-content-center align-items-end">
                        <div class="col-xl-7">
                            <div class="p-0 p-sm-4 px-xl-0">
                                <div id="reviewcarouselIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div
                                        class="carousel-indicators auth-carousel carousel-indicators-rounded justify-content-center mb-0">
                                        <button type="button" data-bs-target="#reviewcarouselIndicators"
                                            data-bs-slide-to="0" class="active" aria-current="true"
                                            aria-label="Slide 1">
                                            <img src="/assets/images/users/avatar-1.jpg"
                                                class="avatar-md img-fluid rounded-circle d-block" alt="...">
                                        </button>
                                        <button type="button" data-bs-target="#reviewcarouselIndicators"
                                            data-bs-slide-to="1" aria-label="Slide 2">
                                            <img src="/assets/images/users/avatar-2.jpg"
                                                class="avatar-md img-fluid rounded-circle d-block" alt="...">
                                        </button>
                                        <button type="button" data-bs-target="#reviewcarouselIndicators"
                                            data-bs-slide-to="2" aria-label="Slide 3">
                                            <img src="/assets/images/users/avatar-3.jpg"
                                                class="avatar-md img-fluid rounded-circle d-block" alt="...">
                                        </button>
                                    </div>
                                </div>
                                <!-- end review carousel -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container fluid -->
</div>


<%- contentFor('FooterJs') %>

<script src="/assets/js/pages/pass-addon.init.js"></script>
<script src="/assets/js/axios.min.js"></script>
<script>
    document.querySelector('.form').addEventListener('submit', e => {
        e.preventDefault();
        const email = document.getElementById('input-username').value;
        const password = document.getElementById('password-input').value;

        login(email, password);
    });
    const login = async (email, password) => {
        try {
            const res = await axios({
                method: 'POST',
                url: '/login',
                data: {
                    email: email,
                    password: password
                }
            });

            localStorage.setItem('currentUser', JSON.stringify(res.data));
            location.assign('/');

        } catch (err) {

            if (err.response.data.status == 'fail' || err.response.data.status == 'errors') {
                document.getElementById("error").style.display = "block";
                document.getElementById("error").innerHTML = err.response.data.message;
            }

        }
    }
</script>