<%- contentFor('HeaderCss') %>

    <%- contentFor('body') %>

        <div class="row">
            <div class="col-xl-12">
                <div class="profile-user"></div>
            </div>
        </div>

        <div class="row" style="direction: ltr;">
            <div class="profile-content">
                <div class="row align-items-end">
                    <div class="col-sm">
                        <div class="d-flex align-items-end mt-3 mt-sm-0">
                            <div class="flex-shrink-0">
                                <div class="avatar-xxl me-3">
                                    <img src="assets/images/users/avatar-3.jpg" alt=""
                                        class="img-fluid rounded-circle d-block img-thumbnail user-profile-image"
                                        id="user_image1">

                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <div>
                                    <h5 class="font-size-16 mb-1 setting_user_name" id="setting_user_name">Melinda
                                        Rivera</h5>
                                    <p class="text-muted font-size-13 mb-2 pb-2">Manager </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row" style="margin-left: 8px; direction: ltr;">
            <!-- <div class="row align-items-end" style="padding:10px 0px 0px 20px;"> -->
            <div class="col-sm-auto" style="margin-top: 10px;">
                <div class="avatar-xs profile-photo-edit">
                    <input id="profile-img-file-input" type="file" class="profile-img-file-input"
                        style="display: none;">
                    <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                        <span class="avatar-lg " style="cursor: pointer;">
                            <i data-feather="camera"></i>
                        </span>
                    </label>
                </div>
            </div>
            <div class="col-sm-auto" style="margin-top: 5px;">
                <button type="button" class="btn  btn-sm" id="user_edit">
                    <i data-feather="edit-3"></i></button>
                <div id="edit-name" class="visually-hidden d-flex justify-content-between">
                    <input type="text" name="name" id="usrname" value="" class="form-control bg-soft-light border-light"
                        maxlength="20" />
                    <div class="float-right">
                        <button type="submit" id="btnSave" class="btn btn-primary btn-block waves-effect waves-light"
                            style="display: block;">
                            ذخیره</button>
                    </div>
                </div>
            </div>

            <!-- </div> -->
        </div>

        <div class="row" style="direction: ltr;">
            <div class="col-lg-12">
                <div class="card bg-transparent shadow-none">
                    <div class="card-body">
                        <ul class="nav nav-tabs-custom card-header-tabs border-top mt-2" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link px-3 active" data-bs-toggle="tab" href="#overview" role="tab">Learn More</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="direction: ltr;">
            <div class="col-xl-8 col-lg-8">
                <div class="tab-content">
                    <div class="tab-pane active" id="overview" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">About Us</h5>
                            </div>

                            <div class="card-body">
                                <div>
                                    <div class="pb-3">
                                        <h5 class="font-size-15">What is Waste Management?</h5>
                                        <div class="text-muted">
                                            <p class="mb-2">The mission of the Waste Management Organization is to plan, manage, monitor and implement the production, separation, storage, collection, transportation, recycling, processing and disposal of solid waste, as well as education and information in this field, based on the Waste Management Law and its implementing regulations, as well as the cleanliness of the city in the city's jurisdiction and its specific attention to the opinions of service recipients and the involvement of the public in this field.</p>

                                            <ul class="list-unstyled mb-0">
                                                <li class="py-1"><i
                                                        class="mdi mdi-circle-medium me-1 text-success align-middle"></i>
                                                    1</li>
                                                <li class="py-1"><i
                                                        class="mdi mdi-circle-medium me-1 text-success align-middle"></i>
                                                    2</li>
                                                <li class="py-1"><i
                                                        class="mdi mdi-circle-medium me-1 text-success align-middle"></i>
                                                    3</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end tab pane -->

                    <div class="tab-pane" id="post" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="blog-post">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg me-3">
                                            <img src="assets/images/users/avatar-6.jpg" alt=""
                                                class="img-fluid rounded-circle d-block">
                                        </div>
                                        <div class="flex-1">
                                            <h5 class="font-size-15 text-truncate"><a href="#" class="text-dark">
                                                    Soroush Saadat</a></h5>
                                            <p class="font-size-13 text-muted mb-0">22 May 2022</p>
                                        </div>
                                    </div>
                                    <div class="pt-3">
                                        <ul class="list-inline">
                                            <li class="list-inline-item me-3">
                                                <a href="javascript: void(0);" class="text-muted">
                                                    <i class="bx bx-purchase-tag-alt align-middle text-muted me-1"></i>
                                                    خبرنگار
                                                </a>
                                            </li>
                                            <li class="list-inline-item me-3">
                                                <a href="javascript: void(0);" class="text-muted">
                                                    <i class="bx bx-comment-dots align-middle text-muted me-1"></i> 5
                                                    Comment
                                                </a>
                                            </li>
                                        </ul>
                                        <p class="text-muted">A few words about us
                                        </p>

                                    </div>
                                    <div class="position-relative mt-3">
                                        <img src="assets/images/news.jpg" alt="" class="img-thumbnail">
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <!-- end blog post -->
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end tab pane -->
        </div>
        <!-- end tab content -->
        </div>
        <!-- end col -->

       
        <!-- end col -->
        </div>
        <!-- end row -->
        <%- contentFor('FooterJs') %>
            <!-- apexcharts -->
            <script src="assets/libs/apexcharts/apexcharts.min.js"></script>
            <script src="assets/js/pages/profile.init.js"></script>
            <script>
                var profile_img = image ? image : "default_image.jpg";
                var preview = document.querySelectorAll(".user-profile-image");
                var profile_name = name ? name : "defaultname";
                var previewname = document.querySelectorAll(".setting_user_name");

                Array.from(preview).forEach((element, index) => {
                    element.src = '/assets/images/profile_pictures/' + profile_img;
                });
                Array.from(previewname).forEach((element, index) => {
                    element.innerHTML = profile_name;
                });
                document.querySelector("#profile-img-file-input").addEventListener("change", function () {
                    var preview = document.querySelectorAll(".user-profile-image");
                    // var topbarimage= document.getElementById('user_image');
                    var file = document.querySelector(".profile-img-file-input").files[0];
                    var filename = file.name;
                    var extName = filename.split(".").pop();
                    var imgList = ["png", "jpg", "jpeg"];

                    if (!imgList.includes(extName)) {
                        alertify.error(`Invalid Image`, "Error");
                    } else {
                        var reader = new FileReader();
                        reader.addEventListener(
                            "load",
                            function () {
                                Array.from(preview).forEach((element, index) => {
                                    element.src = reader.result;
                                });

                            },
                            false
                        );
                        if (file) {
                            let formData = new FormData();
                            formData.append("file", file);
                            formData.append("user_id", userId);
                            fetch("/profileUpdate", {
                                method: "POST",
                                body: formData
                            });
                            reader.readAsDataURL(file);
                            data = JSON.parse(localStorage.getItem("currentUser"));
                            isvalue = Object.assign(data.data.user, {
                                image: formData.get('file').name
                            });
                            localStorage.setItem("currentUser", JSON.stringify(data));
                            image = filename;
                            //setimg(image);
                        }
                    }
                });
                // Profile Upload and Update
                document.getElementById("user_edit").onclick = function () {

                    document.getElementById("user_edit").classList.toggle("visually-hidden");
                    document.getElementById("edit-name").classList.toggle("visually-hidden");

                    var username = document.getElementById("setting_user_name").textContent;
                    document.getElementById("usrname").value = username;

                };

                // current user name edit
                document.querySelector("#btnSave").addEventListener("click", (e) => {
                    e.preventDefault();
                    var name = document.getElementById("usrname").value;
                    var userName = document.querySelectorAll(".setting_user_name");
                    Array.from(userName).forEach((element, index) => {
                        element.innerHTML = name;
                    });
                    let formData = new FormData();
                    formData.append("name", name);
                    formData.append("user_id", userId);
                    fetch("/changename", {
                        method: "POST",
                        body: formData
                    });

                    data = JSON.parse(localStorage.getItem("currentUser"));
                    isvalue = Object.assign(data.data.user, {
                        name: name
                    });
                    localStorage.setItem("currentUser", JSON.stringify(Object.assign(data, isvalue)));
                    document.getElementById("edit-name").classList.toggle("visually-hidden");
                    document.getElementById("user_edit").classList.toggle("visually-hidden");
                    username = name;

                });
            </script>