<%- contentFor('HeaderCss') %>
    <%- contentFor('body') %>


        <div class="row" style="direction: ltr;">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <div class="search-box me-2 mb-2 d-inline-block">
                                    <div class="position-relative">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <i class="bx bx-search-alt search-icon"></i>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Username</th>
                                        <th>Phone Number</th>
                                        <th>Address</th>
                                        <th>Score</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>Soroush Saadat</td>
                                        <td>
                                            <p class="mb-1">0912-202-3040</p>
                                        </td>
                                        <td>Amir Khomeini St. 20, Block 60, Floor 1</td>
                                        <td><span class="badge bg-success font-size-12"><i
                                                    class="mdi mdi-star me-1"></i>
                                                4.2</span></td>
                                        <td>200 Euros</td>
                                        <td>
                                            <div class="col-sm-8">
                                                <div class="text-sm-end">
                                                    <button type="button"
                                                        class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#myModal"><i></i>Pay</button>
                                                    <div id="myModal" class="modal fade" tabindex="-1"
                                                        aria-labelledby="myModalLabel" aria-hidden="true"
                                                        data-bs-scroll="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="myModalLabel">
                                                                        Pay</h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="mb-3">
                                                                        <!-- <label for="productname" style="align-items: center;">Payment Amount</label> -->
                                                                        <input id="productname" name="productname"
                                                                            type="text" class="form-control"
                                                                            placeholder="Amount">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button"
                                                                        class="btn btn-primary" onclick="pay()">Pay</button>
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- end card-body -->
                        </div>
                        <ul class="pagination pagination-rounded justify-content-end mb-2">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                    <i class="mdi mdi-chevron-left"></i>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                    <i class="mdi mdi-chevron-left"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            function pay(){
                
            }
        </script>
        <%- contentFor('FooterJs') %>